# String: '', "" ,''''''

In [2]:
str_1='Hello World'
str_1

'Hello World'

In [3]:
str1 = "Hello World"
str1

'Hello World'

In [4]:
str2='''This sencence
has many
lines
in it.
'''
str2

'This sencence\nhas many\nlines\nin it.\n'

In [6]:
#Extracting Individual Character
str1="Her name is Shila"
#In python index number strts with '0'(Zero) and space is also counted.
#1st index = o, Last index = -1
str1[0]

'H'

In [8]:
str1[-1]

'a'

In [11]:
str1[8] #(8th is space)

' '

In [12]:
str1 [10]

's'

In [13]:
#String Functions

In [14]:
#len (Length of string)
len(str1)

17

In [15]:
#lower (Makes each alphabet in lower case)
str1.lower()

'her name is shila'

In [16]:
#upper (Makes each alphabet in upper case)
str1.upper()

'HER NAME IS SHILA'

In [19]:
#replace (Replace one element with other)
str1.replace('s','y')

'Her name iy Shila'

In [ ]:
#count (Counts the number of occurance of the asked element)

In [22]:
str2="Hello Hello Hello Shila"
str2.count('Hello')

3

In [24]:
#find (finds the index vale of any character)
st1=("Her name is Shila")
str1.find('name')

4

In [25]:
str1.find('n')

4

In [ ]:
#split

In [27]:
str3 = "Munni likes apple, banana and oranges"
str3.split(',')

['Munni likes apple', ' banana and oranges']

In [28]:
str3.split('a')

['Munni likes ', 'pple, b', 'n', 'n', ' ', 'nd or', 'nges']

In [29]:
str3.split(' ') #(' ' this is space)

['Munni', 'likes', 'apple,', 'banana', 'and', 'oranges']